# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Push changes

on: [push]

jobs:
  push_changes:
    name: Push changes
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Check Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: devops-test-tools/Dockerfile
          ignore: DL3008

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: docker.io/leopoldk/devops-test-tools
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./devops-test-tools/Dockerfile
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.18.0
        with:
          image-ref: 'docker.io/leopoldk/devops-test-tools:${{ env.GITHUB_REF_NAME }}'
          format: 'sarif'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: ${{ vars.TRIVY_FAIL_SEVERITY }}
          output: 'trivy-results.sarif'
      
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
          category: 'Trivy Scan'

      - name: Run Trivy SBOM scanner
        uses: aquasecurity/trivy-action@0.18.0
        with:
          image-ref: 'docker.io/leopoldk/devops-test-tools:${{ github.sha }}'
          scan-type: image
          format: 'github'
          output: 'dependency-results.sbom.json'
          severity: ${{ vars.TRIVY_FAIL_SEVERITY }}
          scanners: 'vuln'
          github-pat: ${{ secrets.GITHUB_TOKEN }}